<div class="output">
  @if (flag) {
  <div class="flex flex-row align-items-center">
    <p-progressSpinner
      strokeWidth="4"
      styleClass="w-2rem h-2rem"
      ariaLabel="loading"
    />
    <p class="ml-3">Um momentinho...</p>
  </div>

  }
  <div class="pb-4">
    @if (flagError) {
    <p-messages severity="error">
      <ng-template pTemplate>
        <div class="ml-2">{{ msg }}</div>
      </ng-template>
    </p-messages>

    } @else {
    <markdown
      style="font-size: 14px; color: #4c566a"
      ngPreserveWhitespaces
      [data]="textResponse"
    >
    </markdown>
    }
  </div>
</div>
