<div class="response flex justify-content-center" #scrollContainer>
  <div class="history">
    @for (question of historyChat; track $index) {
    <div class="flex justify-content-end">
      <p-chip
        class="max-w-40rem"
        [label]="question.prompt"
        styleClass="p-2"
      ></p-chip>
    </div>

    <app-response-chat
      [textResponse]="question.outputChat"
      [flag]="question.flagLoading"
    ></app-response-chat>
    }
  </div>
</div>

<div class="flex justify-content-center w-12">
  <app-input-chat
    (emitResponse)="getResponse()"
    (emitCancelRequest)="cancelRequest()"
    [disabled]="disabled"
  ></app-input-chat>
</div>
